/**
 * LAYOUT
 */

#container {
  margin: 50px auto;
  margin-bottom: 150px;
  padding: 10px 0;
  background-color: #FFF;
  /* Default is fluid width. You *could* set a fixed width here if you need to.
  But setting the width with media queries will result in more "responsive-y"
  behavior. */
  width: 100%;
  /* Allow for setting background color opacity, allows bg to show through */
  background: none repeat scroll 0 0 rgba(255, 255, 255, 1);
}

.container-inner {
  padding: 0 2%;
}

/* Top and bottom block regions, they are outside of #container */

#top {
  width: 100%;
  clear: both;
}

#bottom {
  width: 100%;
  clear: both;
  position: fixed;
  bottom: 0;
}

/**
 * MAIN
 * 
 */

/* 1 column: global values*/

#main {
  /*display: inline;*/
  margin: 0;
}

/* 3 columns */

body {
  &.two-sidebars #main {
    float: left;
    margin: 0 0 0 20%;
    /* SB1 + G */
    padding: 0;
    width: 59.97%;
    /* 99.97 - (SB1 + G) - (SB2 + G) */
  }
  &.sidebar-first #main {
    float: right;
    margin: 0;
    padding: 0;
    width: 79.97%;
    /* 99.97 - (SB1 + G)*/
  }
  &.sidebar-second #main {
    float: left;
    margin: 0;
    padding: 0;
    width: 79.97%;
    /* 99.97 - (SB2 + G)*/
  }
  &.two-sidebars {
    #sidebar-first {
      float: left;
      margin: 0 0 0 -77.97%;
      /* (SB1 + G) - 99.97] */
      padding: 0;
      width: 18%;
      /* SB1 */
    }
    #sidebar-second {
      float: right;
      margin: 0;
      padding: 0;
      width: 18%;
    }
  }
  &.sidebar-first #sidebar-first {
    float: left;
    margin: 0;
    padding: 0;
    width: 18%;
    /* SB1 */
  }
  &.sidebar-second #sidebar-second {
    float: right;
    margin: 0;
    padding: 0;
    width: 18%;
    /* SB2 */
  }
}