/**
 * News slideshow (flexslider)
 */

.flexslider {
  background-color: none;
  margin: 0 0 60px;
  position: relative;
}

#featured .flexslider .slides img {
  padding: 0 1em;
}

#featured .flex-nav-container {
  margin-bottom: 0;
}

.news-slideshow ul li {
  margin: 0;
}