/**
 * News slideshow (flexslider)
 */

.flexslider {
  margin-bottom: 10px;
  background: none;
  border: none;
  box-shadow: none;
  zoom: 1;
}

.flex-control-nav {
  bottom: -10px;
  position: relative;
}

