/**
 * Follow menu
 */

#follow .pane-content {
  padding: 5px;
  background: #EEE;
  border: 1px solid #FFFFFF;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#follow ul.menu li {
  list-style: none outside none;
}
#follow ul.menu li {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  line-height: 15px;
  margin-bottom: 15px;
  margin-left: 0;
  margin-top: 2px;
}
#follow ul.menu li:hover {
  background-color: #CECECE;
  border-radius: 6px 6px 6px 6px;
  cursor: pointer;
}
#follow ul.menu li a {
  background-position: 2% 50%;
  background-repeat: no-repeat;
  color: #999999;
  display: block;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  height: 35px;
  line-height: 16px;
  padding-left: 50px;
  padding-top: 5px;
  text-decoration: none;
}
#follow ul.menu li a.facebook {
  background-image: url("./images/icon_facebook.png");
}
#follow ul.menu li a.twitter {
  background-image: url("./images/icon_twitter.png");
}

