/**
 * Mediafront player
 */

.minplayer-default-volume a {
  margin-bottom: 0;
}

.view-pushtape_player_track_views .panel-pane h2, .panel-pane a {
  margin-bottom: 1px;
}

.view-pushtape_player_track_views ul.graphic li {
  margin-bottom: 0px;
}

/**
* Fixes padding issue w/ mediafront but might also mess w/ panopoly widgets
*/
.ui-widget-header {
  padding: 0;
  min-height: 0px;
}