.view-events, .view-news, .view-photosets, .view-releases, .view-albums, .view-tracks, .view-video {
  background: #fafafa url(images/noise.png);
  border: solid 2px #F2F2F2;
  padding: 1em;
  height: auto;
  border-radius: 5px;
}





















