$pale-blue  : #d9e9ef;
$light-blue : #3498db;
$mid-blue   : #077dc3;
$dark-blue  : #064771;

$orange     : #e4621c;
$pale-orange: #efa47b;

$green      : #4a993e;

$red        : #b33630;

$yellow     : #d6c460;

$light-grey : #F2F2F2;
$mid-grey   : #7D7D7D;
$dark-grey  : #222;

$off-white : #FEFEFE;

