$lucida-grande    : "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$trebuchet-ms  : "Trebuchet MS", "Trebuchet", "Helvetica Neue", Helvetica, Arial, sans-serif;

$base-font-size: 14px;
$base-line-height: 20px;