/**
 * @file
 * Santana Flipped panel layout
**/

@import "compass";
@import "breakpoint";
@import "singularitygs";

//Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";

.santana-flipped-container,
.santana-flipped-content-header,
.santana-flipped-content-container-column-container {
  margin-bottom: $vert-spacing-unit;
}

.santana-flipped-column {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .santana-flipped-column-inner {
    margin-right: $horz-spacing-unit;
  }

    .santana-flipped-content-column2-inner {
      margin-right: 0;
    }
    
.santana-flipped-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "santana-flipped-column" class */
  min-height: 1px;
  float: left;
  width: 68.085%;
}

  .santana-flipped-content-container-inner {
    margin-right: $horz-spacing-unit;
  }
  
  .santana-flipped-content-container .santana-flipped-column {
    width: 51.613%;
  }
  
  .santana-flipped-content-container .santana-flipped-content-column2 {
    width: 48.387%;
  }
  
  .santana-flipped-sidebar {
    width: 31.915%;
  }
  
  .santana-flipped-content-column2-inner,
  .santana-sidebar {
    margin-right: 0;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .santana-flipped-column,
  .santana-flipped-content-container,
  .santana-flipped-content-container .santana-flipped-column,
  .santana-flipped-content-container .santana-flipped-content-column2,
  .santana-flipped-sidebar {
    width: 100%;
    float: none;
  }
  
  .santana-flipped-column-inner,
  .santana-flipped-content-container-inner {
    margin-right: 0;
  }
}
