/**
 * @file
 * Coltrane Double panel layout
**/

@import "compass";
@import "breakpoint";
@import "singularitygs";

//Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";


.coltrane-double-container {
  margin-bottom: $vert-spacing-unit;
}

.coltrane-double-column {
  min-height: 1px;
  width: 51.064%;
  float: left;
}

.coltrane-double-column-inner {
  margin-right: $horz-spacing-unit;
}

.coltrane-double-column2 {
  width: 48.936%;
}

.coltrane-double-column2-inner {
  margin-right: 0;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 670px) {
  .coltrane-double-column,
  .coltrane-double-column2 {
    width: 100%;
    float: none;
  }

  .coltrane-double-column-inner {
    margin-right: 0;
  }
}
