/*******************************************************************************
 * pushtape-divine.layout.scss
 *
 * Styling of the "divine" layout demonstrating the golden rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000314}}
.l-page {
  width: 95%;
  max-width: 110em;
  margin: 0 auto;
  background-color: rgba(202, 221, 226, 0.75); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000321}}
.l-header {
  *zoom: 1;
  background-color: #3498db;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1em;
  padding-right: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.pushtape_omega\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-header:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000330}}
.l-main {
  *zoom: 1;
  margin-bottom: 10px;
  padding-left: 1em;
  padding-right: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.pushtape_omega\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-main:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000337}}
.l-footer {
  *zoom: 1;
  background-color: #3498db;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1em;
  padding-right: 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.pushtape_omega\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .l-footer:after {
    content: "";
    display: table;
    clear: both; }

@media (min-width: 700px) {
  /* Header Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000348}}
  .l-branding {
    width: 61.98347%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000351}}
  .l-region--header {
    width: 100.0%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000354}}
  .l-region--navigation {
    clear: both; }

  /* Content Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000359}}
  .l-content {
    width: 100.0%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
@media (min-width: 1250px) {
  /* Header Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000367}}
  .l-header {
    *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/\.rvm\/gems\/ruby-1\.9\.3-p448\@omega\.pushtape_omega\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
    .l-header:after {
      content: "";
      display: table;
      clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000370}}
  .l-branding {
    width: 50.33557%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000373}}
  .l-region--header {
    width: 81.20805%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000376}}
  .l-region--navigation {
    width: 48.99329%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
/* Content Area */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/sites\/all\/themes\/pushtape_omega\/sass\/layouts\/pushtape-divine\/pushtape-divine\.layout\.scss}line{font-family:\0000382}}
.l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none; }
