/**
 * @file
 * Bonham Flipped panel layout
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/bonham-flipped\/bonham-flipped\.layout\.scss}line{font-family:\0000313}}
.bonham-flipped-container {
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/bonham-flipped\/bonham-flipped\.layout\.scss}line{font-family:\0000317}}
.bonham-flipped-sidebar {
  min-height: 1px;
  width: 31.915%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/bonham-flipped\/bonham-flipped\.layout\.scss}line{font-family:\0000323}}
.bonham-flipped-content {
  width: 68.085%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/bonham-flipped\/bonham-flipped\.layout\.scss}line{font-family:\0000328}}
.bonham-flipped-content-inner {
  margin-right: 1em; }

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/bonham-flipped\/bonham-flipped\.layout\.scss}line{font-family:\0000335}}
  .bonham-flipped-content,
  .bonham-flipped-sidebar {
    width: 100%;
    float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/bonham-flipped\/bonham-flipped\.layout\.scss}line{font-family:\0000340}}
  .bonham-flipped-content-inner {
    margin-right: 0; } }
