/**
 * @file
 * Floyd panel layout
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/floyd\/floyd\.layout\.scss}line{font-family:\0000314}}
.floyd-container {
  margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/floyd\/floyd\.layout\.scss}line{font-family:\0000318}}
.floyd-sidebar {
  min-height: 1px;
  width: 34.043%;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/floyd\/floyd\.layout\.scss}line{font-family:\0000324}}
.floyd-sidebar-inner {
  margin-right: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/floyd\/floyd\.layout\.scss}line{font-family:\0000328}}
.floyd-content {
  float: left;
  width: 65.957%; }

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/floyd\/floyd\.layout\.scss}line{font-family:\0000336}}
  .floyd-content,
  .floyd-sidebar {
    width: 100%;
    float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gusaus\/Sites\/pushtape\/pushtape-panels\/profiles\/pushtape\/themes\/pushtape_omega\/sass\/layouts\/floyd\/floyd\.layout\.scss}line{font-family:\0000341}}
  .floyd-sidebar-inner {
    margin-right: 0; } }
