/* Discography Styles*/

body.node-type-album.page-node-edit .field-name-field-artwork,
body.node-type-track.page-node-edit .field-name-field-artwork{
  float:none;
  margin:0;
}

body.node-type-album .field-name-field-links,
body.node-type-track .field-name-field-links {
  overflow:auto;
}
body.node-type-album .field-name-field-links .field-item a,
body.node-type-track .field-name-field-links .field-item a {
  float:left;
  display:block;
  padding:.75em 1.5em;
  background:#F5f5f5;
  border-left:solid .75em #F2F2F2;
  margin-right:.5em;
  margin-bottom:0;
  font-size:.9em;
}
body.node-type-album .field-name-field-artwork,
body.node-type-track .field-name-field-artwork{
  float:none;
  margin:0 auto;
  border:none;
}
body.node-type-album .field-name-field-artwork img,
body.node-type-track .field-name-field-artwork img {
  width:100%;
}
body .node-form .field-name-field-artwork img {
  width:auto;
}
body.node-type-track .field-name-field-audio {
  float:none;
}
body.node-type-track .field--name-field-audio {
  margin-top: $vert-spacing-unit;
  width:90%;
}

