/**
 * Views for releases, albums, tracks
 *
 */
#main {
  .view-releases .views-row, .view-albums .views-row, .view-tracks .views-row {
    /* Alternate: inline-block instead of float to accomodate variable heights. IE fix: zoom:1; *display: inline; _height: 300px;
    display:inline-block;
    vertical-align:top;
    */
    float: left;
    margin-right: 20px;
    padding-bottom: 1%;
    margin-bottom: 0;
    height: 280px;
    width: 225px;
    /* artwork_medium imagecache*/
  }
}

.view-releases .views-row .views-field-field-artwork img, .view-albums .views-row .views-field-field-artwork img, .view-tracks .views-row .views-field-field-artwork img {
  display: block;
  border: 1px solid #949494;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 1px;
}

.view-releases .views-row .views-field-field-artwork img:hover, .view-albums .views-row .views-field-field-artwork img:hover, .view-tracks .views-row .views-field-field-artwork img:hover {
  border-color: #BFBFBF;
  display: block;
}

.view-releases .views-row .views-field-field-artwork a, .view-albums .views-row .views-field-field-artwork a, .view-tracks .views-row .views-field-field-artwork a {
  background: 000;
  display: block;
}

.view-releases .views-row .views-field-title a, .view-albums .views-row .views-field-title a, .view-tracks .views-row .views-field-title a {
  font-family: "Arvo", Georgia, serif;
  font-style: italic;
  display: block;
  padding: .5em 1em;
  padding-left: 0px;
}


/* Individual Track Audio & Player Styles*/

.views-field-field-tracklist ul li,
.views-field-field-tracklist ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.views-field-field-audio ul li {
  margin: 0;
  padding: 0;
}

.field-name-field-audio ul li,
.field-name-field-audio ol li {
  margin: 0;
  padding: 0;
}

.node-type-track .field-name-field-audio {
  display:inline-block;
  padding-top:1em;
  min-width: 80%;
}

.sm2-inline-list .ui360-vis .sm2-360ui,
.sm2-inline-list .ui360-vis:hover .sm2-360ui,
.ui360-vis .sm2-360ui,
.ui360-vis:hover .sm2-360ui {
  background:#F1F5F7 url(images/noise.png);
  border: solid #bdc3c7 5px;
  border-radius:50%;
}
.ui360-vis .sm2-canvas {
  /* Negate the effect of the border width */
  margin-top:-5px;
  margin-left:-5px;
}
.sm2-inline-list .ui360-vis a,
.ui360-vis a  {
  text-transform:uppercase;
  white-space:normal;
}
.sm2-inline-list .ui360-vis:hover a.sm2_link,
.ui360-vis:hover a.sm2_link {
  background-color:transparent;
}

ul.graphic li a,
ul.graphic li a.sm2_link {
  /* assume all items will be sounds rather than wait for onload etc. in this example.. may differ for your uses. */
  display:inline-block;
  padding-left:22px;
  min-height:16px;
  vertical-align: middle;
  background-color:#336699;
  border-radius:3px;
  padding:3px 3px 3px 25px;
  min-width:85%;
  text-decoration:none;
  font-weight:normal;
  color:#f6f9ff;
}

/* Album Tracklist View & Player styles */

#album.node ol, .node ul {
  padding: 0;
}

.view-tracklist ol {
  list-style-position:inside;
  margin-left:0;
  margin-top:20px;
  text-indent:0;
  padding-left:0;
  width:450px;
}


.view-tracklist .views-field-field-audio {
  float:right;
}

.view-tracklist .views-row {
  line-height:50px;
  padding:5px 10px;
  padding-left:20px;
  border-bottom:solid #EEE 1px;
  list-style-type:decimal-leading-zero;
  /*border-left:solid 10px #F5F2E3;*/

}
.view-tracklist .views-row-even {
  /*border-left:solid 10px #FCFFE8;
  border-left:solid 10px #FFEDBF;*/
}
.view-tracklist .views-row-last {
  border-bottom:none;
}
.view-tracklist .views-row:hover {
  background:#F6F6F6;
}

.view-tracklist .views-field-field-artist {
  color:#777;
  font-size:.9em;
  font-style:italic;
  margin-left:1em;
}
.view-tracklist .views-field-title {
  font-weight:bold;
}

/* Tracklist Player UI 360 Style*/
.view-tracklist .ui360 a,
.view-tracklist .ui360-vis a {
  display:none;
}
.view-tracklist .ui360 .sm2-360ui {

}
.view-tracklist .ui360 .sm2-360ui.sm2_paused,
.view-tracklist .ui360 .sm2-360ui.sm2_playing {

}
.view-tracklist .ui360 .sm2-360ui.sm2_playing {

}

.view-tracklist .ui360 .sm2-360btn-default {
  background:url(../images/play-default.png) no-repeat 50% 50%;
  background-size:contain;
}
.view-tracklist .ui360 .sm2-360btn-default:hover {
  background:url(../images/play-default-hover.png) no-repeat 50% 50%;
  background-size:contain;
}

.view-tracklist .ui360:hover,
.view-tracklist .ui360 .sm2-360ui.sm2_paused .sm2-360btn:hover,
.view-tracklist .ui360,
.view-tracklist .ui360 .sm2-360ui.sm2_paused .sm2-360btn {
  background:url(../images/play.png) no-repeat 50% 50%;

}
.view-tracklist .ui360 .sm2-360ui.sm2_playing .sm2-360btn:hover,
.view-tracklist .ui360 .sm2-360btn-playing:hover {
  background: url(../images/pause.png) no-repeat 50% 50%;
}

/**
 * Individual Track Audio & Player Styles
 */
.view-tracklist {
  ol {
    list-style-position: inside;
    margin-left: 0;
    text-indent: 0;
    padding-left: 0;
    width: 450px;
  }
  .views-field-field-audio {
    float: right;
  }
  .views-row {
    line-height: 50px;
    padding: 5px 10px;
    padding-left: 20px;
    border-bottom: solid #EEE 1px;
    list-style-type: decimal-leading-zero;
    /*border-left:solid 10px #F5F2E3;*/
  }
  .views-row-even {
    /*border-left:solid 10px #FCFFE8;
    border-left:solid 10px #FFEDBF;*/
  }
  .views-row-last {
    border-bottom: none;
  }
  .views-row:hover {
    background: #F6F6F6;
  }
  .views-field-field-artist {
    color: #777;
    font-size: .9em;
    font-style: italic;
    margin-left: 1em;
  }
  .views-field-title {
    font-weight: bold;
  }
  .ui360 a, .ui360-vis a {
    display: none;
  }
  .ui360 {
    .sm2-360btn-default {
      background: url(../images/play-default.png) no-repeat 50% 50%;
      background-size: contain;
      &:hover {
        background: url(../images/play-default-hover.png) no-repeat 50% 50%;
        background-size: contain;
      }
    }
    &:hover {
      background: url(../images/play.png) no-repeat 50% 50%;
    }
    .sm2-360ui {
      &.sm2_paused .sm2-360btn {
        &:hover {
          background: url(../images/play.png) no-repeat 50% 50%;
        }
        background: url(../images/play.png) no-repeat 50% 50%;
      }
      &.sm2_playing .sm2-360btn:hover {
        background: url(../images/pause.png) no-repeat 50% 50%;
      }
    }
    background: url(../images/play.png) no-repeat 50% 50%;
    .sm2-360btn-playing:hover {
      background: url(../images/pause.png) no-repeat 50% 50%;
    }
  }
}

/* Tracklist Player UI 360 Style*/

/* Album Tracklist View & Player styles */
.view-tracklist {
  ol {
    list-style-position: inside;
    margin-left: 0;
    text-indent: 0;
    padding-left: 0;
    width: 450px;
  }
  .views-field-field-audio {
    float: right;
  }
  .views-row {
    line-height: 50px;
    padding: 5px 10px;
    padding-left: 20px;
    border-bottom: solid #EEE 1px;
    list-style-type: decimal-leading-zero;
    /*border-left:solid 10px #F5F2E3;*/
  }
  .views-row-even {
    /*border-left:solid 10px #FCFFE8;
    border-left:solid 10px #FFEDBF;*/
  }
  .views-row-last {
    border-bottom: none;
  }
  .views-row:hover {
    background: #F6F6F6;
  }
  .views-field-field-artist {
    color: #777;
    font-size: .9em;
    font-style: italic;
    margin-left: 1em;
  }
  .views-field-title {
    font-weight: bold;
  }
  .ui360 a, .ui360-vis a {
    display: none;
  }
  .ui360 {
    .sm2-360btn-default {
      background: url(../images/play-default.png) no-repeat 50% 50%;
      background-size: contain;
      &:hover {
        background: url(../images/play-default-hover.png) no-repeat 50% 50%;
        background-size: contain;
      }
    }
    &:hover {
      background: url(../images/play.png) no-repeat 50% 50%;
    }
    .sm2-360ui {
      &.sm2_paused .sm2-360btn {
        &:hover {
          background: url(../images/play.png) no-repeat 50% 50%;
        }
        background: url(../images/play.png) no-repeat 50% 50%;
      }
      &.sm2_playing .sm2-360btn:hover {
        background: url(../images/pause.png) no-repeat 50% 50%;
      }
    }
    background: url(../images/play.png) no-repeat 50% 50%;
    .sm2-360btn-playing:hover {
      background: url(../images/pause.png) no-repeat 50% 50%;
    }
  }
}


/* Discography Styles*/

body.node-type-album.page-node-edit .field-name-field-artwork,
body.node-type-track.page-node-edit .field-name-field-artwork{
  float:none;
  margin:0;
}

body.node-type-album .field-name-field-links,
body.node-type-track .field-name-field-links {
  overflow:auto;
}
body.node-type-album .field-name-field-links .field-item a,
body.node-type-track .field-name-field-links .field-item a {
  float:left;
  display:block;
  padding:.75em 1.5em;
  background:#F5f5f5;
  border-left:solid .75em #F2F2F2;
  margin-right:.5em;
  margin-bottom:0;
  font-size:.9em;
}
body.node-type-album .field-name-field-artwork,
body.node-type-track .field-name-field-artwork{
  float:none;
  margin:0 auto;
  border:none;
}
body.node-type-album .field-name-field-artwork img,
body.node-type-track .field-name-field-artwork img {
  width:100%;
}
body .node-form .field-name-field-artwork img {
  width:auto;
}
body.node-type-track .field-name-field-audio {
  float:none;
}
body.node-type-track .field--name-field-audio {
  margin-top: $vert-spacing-unit;
  width:90%;
}

