/**
 * News View & Node
 *
 */
.view-news .views-row {
  padding:.25% 4%;

  border-bottom:solid #EEE 1px;
}
.view-news .views-row-last {
  border-bottom:none;
}

.view-news .views-row-1 .submitted {

}
.view-news .views-row h2{
  margin-bottom:.25em;
  font-size:1.5em;
}

.view-news .views-row .field-name-body {
  color:#666;
  /*font-family:georgia;*/
  text-align:justify;
}
.view-news .views-row .submitted {
  color:#999;
  font-size:.8em;
  margin-bottom:.5em;
}
.view-news .views-row-odd {
}
.view-news .views-row:hover {
  background:#F9F9F9;
}

ul.inline li {
  padding: 0 .5em 0 .2em;
  border-right: solid #DDD 1px;
  text-transform: lowercase;
  &.last {
    border-right: none;
  }
}



body.node-type-news {
  .content {
    margin: 0 auto;
  }
  .field-name-body {
    /*font-family:georgia;*/
    font-size: 1.25em;
    color: #333;
  }
}

